* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  object-fit: cover;
  font-family: "Roboto", sans-serif;
}

:root {
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 32px;
  --spacing-xl: 64px;

  --h1-size: 1.5rem;
  --h2-size: 1.3rem;

  --font-size-s: 1rem;
  --font-size-m: 1.1rem;
  --font-size-l: 1.2rem;
  --font-size-xl: 1.3rem;

  --primary-color: yellow;
  --secondary-color: rgb(255, 71, 71);
  --dark-color: black;
  --light-color: lightgrey;

  --standard-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);

  --border-radius-s: 5px;
  --border-radius-m: 10px;
  --border-radius-l: 15px;
  --border-radius-xl: 20px;
  --border-radius-circle: 50%;
}

/* GENERAL STYLE */
html,
body {
  overflow-x: hidden;
}

.container {
  max-width: 1450px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* HEADER SECTION */
header {
  padding: var(--spacing-l) 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container * {
  color: var(--dark-color);
}

.header-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100px;
}

.header-logo {
  width: 100%;
  height: auto;
}

.header-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header-links-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-xl);
}

.header-icons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--spacing-m);
}

.header-customer-link,
.header-cart-link {
  width: 30px;
  height: 30px;
}

.header-cart-link {
  position: relative;
}

.header-customer-icon,
.header-cart-icon {
  width: 100%;
  height: auto;
}

.header-cart-quantity {
  position: absolute;
  top: -10px;
  width: 100%;
  text-align: center;
}

/* ORDER TITLES */
.titles-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
}

.order-header {
  text-align: left;
  margin-bottom: var(--spacing-m);
}

/* ORDERS */
.order-container {
  display: flex;
  justify-content: space-between;
  gap: var(--spacing-m);
}

.order-left,
.order-summary-right {
  border: 1px solid black;
  border-radius: var(--border-radius-s);
  padding: var(--spacing-m);
}

.order-left {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
}

.order-summary-right {
  width: 40%;
}

.order-item-wrapper {
  display: flex;
  justify-content: space-between;
  gap: var(--spacing-m);
}

.order-item-details {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.order-delivery-option {
  width: 50%;
}

.order-item-description-wrapper {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
}

.order-item-image {
  width: 25%;
  height: auto;
}
