* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  object-fit: cover;
  color: black;
  font-family: "Roboto", sans-serif;
}

:root {
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 32px;
  --spacing-xl: 64px;

  --h1-size: 1.5rem;
  --h2-size: 1.2rem;

  --font-size-s: 1rem;
  --font-size-m: 1.1rem;
  --font-size-l: 1.2rem;
  --font-size-xl: 1.3rem;

  --primary-color: yellow;

  --standard-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);

  --border-radius-s: 5px;
  --border-radius-m: 20px;
  --border-radius-l: 30px;
  --border-radius-xl: 40px;
}

/* GENERAL STYLE */
html,
body {
  overflow-x: hidden;
}

.container {
  max-width: 1450px;
  margin: auto;
  padding: 0 var(--spacing-s);
}

h1 {
  font-size: var(--h1-size);
  text-align: center;
}

h2 {
  font-size: var(--h2-size);
  margin-bottom: var(--spacing-m);
}

/* HEADER SECTION */
header {
  padding: var(--spacing-m) 0 0 0;
  margin-bottom: var(--spacing-l);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

header #logo img {
  width: 100px;
}

header .navbar-right img {
  width: 25px;
}

.navbar-center {
  width: 50%;
}

.navbar-center ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.navbar-center li {
  list-style: none;
}

.navbar-center a {
  text-decoration: none;
  padding: var(--spacing-s);
  transition: all 0.15s ease;
}

.navbar-center a:hover {
  border-bottom: 1px solid black;
}

.navbar-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--spacing-s);
  /* border: 1px solid red; */
  position: relative;
}

.navbar-right .cart-quantity {
  position: absolute;
  top: -13px;
  left: 18px;
  text-align: center;
  /* width: 25px; */
  width: 100%;
}

/* ORDERS SECTION */
.order-section {
  margin-top: var(--spacing-xl);
}

.order-section .two-column {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--spacing-s);
}

.order-section .col-left {
  width: 60%;
}

.order-section .col-right {
  width: 40%;
  border-radius: var(--border-radius-s);
  padding: var(--spacing-s);
  border: 1px solid black;
}

.col-left .item-container {
  border: 1px solid black;
  margin-bottom: var(--spacing-s);
  border-radius: var(--border-radius-s);
  padding: var(--spacing-s) var(--spacing-s) var(--spacing-l) var(--spacing-s);
}

.item-container h2 {
  margin-top: var(--spacing-s);
}

/* DELIVERY OPTION */
.item-container .delivery-option {
  border: none;
  border-radius: 0;
  padding: 0;
}

.delivery-option p:first-of-type {
  font-weight: bold;
}

.detail-wrapper img {
  width: 100%;
}

.detail-wrapper .col-left {
  width: 30%;
  border: none;
}

.detail-wrapper .col-right {
  width: 70%;
  padding: 0;
  border: none;
}

.detail p {
  margin-bottom: var(--spacing-s);
}

.detail .order-name {
  font-weight: bold;
}

.detail .order-price {
  color: red;
  font-weight: bold;
}

.detail span {
  color: #017cb6;
  cursor: pointer;
}

.radio-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: var(--spacing-s);
}

.radio-wrapper .label-wrapper {
  padding-left: var(--spacing-s);
}

.label-wrapper label {
  cursor: pointer;
}
