* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  object-fit: cover;
  color: black;
  font-family: "Roboto", sans-serif;
}

:root {
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 32px;
  --spacing-xl: 64px;

  --h1-font-size: 4rem;

  --font-size-s: 1rem;
  --font-size-m: 1.1rem;
  --font-size-l: 1.2rem;
  --font-size-xl: 1.3rem;

  --primary-color: yellow;

  --standard-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);

  --border-radius-s: 10px;
  --border-radius-m: 20px;
  --border-radius-l: 30px;
  --border-radius-xl: 40px;
}

/* GENERAL STYLE */
html,
body {
  overflow-x: hidden;
}

.container {
  max-width: 1450px;
  margin: auto;
  padding: 0 var(--spacing-s);
}

h1 {
  font-size: var(--h1-font-size);
}

/* HEADER SECTION */
header {
  padding: var(--spacing-m) 0 0 0;
  margin-bottom: var(--spacing-l);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

header #logo img {
  width: 100px;
}

header .navbar-right img {
  width: 25px;
}

.navbar-center {
  width: 50%;
}

.navbar-center ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.navbar-center li {
  list-style: none;
}

.navbar-center a {
  text-decoration: none;
  padding: var(--spacing-s);
  transition: all 0.15s ease;
}

.navbar-center a:hover {
  border-bottom: 1px solid black;
}

.navbar-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--spacing-s);
  /* border: 1px solid red; */
  position: relative;
}

.navbar-right .cart-quantity {
  position: absolute;
  top: -13px;
  left: 18px;
  text-align: center;
  /* width: 25px; */
  width: 100%;
}

/* SEARCH SECTION */
.search-section {
  background-color: rgba(211, 211, 211, 0.5);
}

.search-section .container {
  padding: var(--spacing-l);
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form label {
  width: 50%;
  position: relative;
}

.search-form label #search-icon {
  width: 35px;
  position: absolute;
  top: 10px;
  left: 8px;
  z-index: 1;
  cursor: pointer;
}

.search-section input {
  width: 100%;
  padding: var(--spacing-m) var(--spacing-m) var(--spacing-m) var(--spacing-xl);
  border-radius: var(--border-radius-l);
  font-size: var(--font-size-s);
  border: none;
  outline: none;
  position: relative;
}

/* PRODUCT-SECTION */
.product-gallery-section .product-grid-container {
  margin-top: var(--spacing-l);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--spacing-l);
}

.product-gallery-section .product {
  margin: var(--spacing-m) 0;
  overflow: hidden;
  border-radius: var(--border-radius-s);
  cursor: pointer;
  width: 300px;
  /* border: 1px solid black; */
}

.product .product-img-wrapper {
  overflow: hidden;
  border-bottom-left-radius: var(--border-radius-s);
  border-bottom-right-radius: var(--border-radius-s);
  background-color: lightgray;
  /* height: 334px; */
  height: 325px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: var(--spacing-s);
}

.product:hover img {
  transform: scale(1.03);
}

.product img {
  width: 100%;
  height: 100%;
  transition: all 0.15s ease;
}

.product .brand {
  color: gray;
}

.product .name-price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: var(--spacing-s) 0;
}

.name-price-wrapper p {
  font-weight: bold;
}

/* ADD TO CART SECTION */
.quantity-add-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--spacing-s) 0 0;
}

.quantity-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-radius: var(--border-radius-s);
  padding: var(--spacing-s);
}

.quantity-wrapper span {
  background-color: lightgray;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity-wrapper input {
  width: 50px;
  text-align: center;
  border: none;
  outline: none;
  font-size: var(--font-size-s);
}

.quantity-add-container button {
  background-color: black;
  color: white;
  padding: calc(var(--spacing-s) * 1.7);
  border: none;
  border-radius: var(--spacing-s);
  cursor: pointer;
}
